@model IT_Mvc_App_Coffee_Shop.Models.Profile

@{
    ViewBag.Title = "Edit Profile";
}


<div class="card card-edit-profile">
    <h2 class="edit-header">Edit @Model.FirstName's profile ✎</h2> 
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

            <hr />
        <div class="form-horizontal form-edit-profile">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group text-center" style="margin-top: 10%">
                <div class="col-md-offset-4 col-md-8">
                    <input type="submit" value="Save" class="btn btn-dark" />
                </div>
            </div>
        </div>
    }
</div>

    @if (User.IsInRole("Admin"))
    {
        <p>
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-outline-dark" })
        </p>
    }
