@model IT_Mvc_App_Coffee_Shop.Models.Store

@{
    ViewBag.Title = "Create";
}


<div class=" card create-card">

    <h2 class="create-header">Add new Store</h2>
    <p class="text-center">Only visible to Administrator and Manager</p>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-horizontal form-edit-create">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Location, 4, 50, new { htmlAttributes = new { @class = "form-control" } })
            <br />
            @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.Label("Location Image", htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.LocationImg, 2, 50, new { htmlAttributes = new { @class = "form-control" } })
            <br />
            @Html.ValidationMessageFor(model => model.LocationImg, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Rating, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Rating, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Rating, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Add to list" class="btn btn-outline-dark submit-btn" />
        </div>
    </div>
</div>
    }
</div>

<div>
    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-dark back-to-list" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


